* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  overflow-y: hidden;
}

.nav {
  width: 100%;
  height: 50px;
}

.row .input-field input:focus {
  border-bottom: 1px solid #ff8f00 !important;
  box-shadow: 0 1px 0 0 #ff8f00 !important;
}

button.btn-small:focus {
  background-color: #ffb300;
}

.datepicker-date-display {
  background-color: #ffb300;
}

.timepicker-digital-display {
  background-color: #ffb300;
}

.input-field input[type]:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label {
  color: #455a64;
}

.input-field input {
  background-color: #ffb300;
}

/* Inactive/Active Default input field color */
.input-field input[type]:focus:not([readonly]) {
  border-bottom: 1px solid #ffb300 !important;
  box-shadow: 0 1px 0 0 #ffb300 !important;
}

.input-field input[type]:not([readonly]) {
  border-bottom: 1px solid #455a64e7 !important;
}

label.active {
  color: #455a64;
  font-size: 17px;
}

.input-field input {
  &::placeholder {
    color: #455a6486;
  }
}

.btn-floating.halfway-fab{
    bottom:44px;
}

.background {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: url("../assets/1.jpg") no-repeat center fixed;
  background-size: cover;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .background {
    background: url("../assets/1desktop.jpg") no-repeat center fixed;
    background-size: cover;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.footer {
  clear: both;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.123);
  color: rgba(255, 255, 255, 0.466);
  z-index: 1;
}

.main_content::-webkit-scrollbar {
  display: none;
}

.main_content {
  -ms-overflow-style: none;
}

.form_message{
    color:rgb(255, 61, 0);
    position: absolute;
    left:120px;
    bottom:6px;
    animation-name: SlideIn;
    animation-duration: 0.5s;
}

@keyframes SlideIn {
    from {
      opacity: 0;
      transform: translate(100rem, 0);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }

