* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.nav {
  width: 100%;
  height: 50px;
}

.row .input-field input:focus {
  border-bottom: 1px solid #ff8f00 !important;
  box-shadow: 0 1px 0 0 #ff8f00 !important;
}

button.btn-small:focus {
  background-color: #ffb300;
}

.datepicker-date-display {
  background-color: #ffb300;
}

.timepicker-digital-display {
  background-color: #ffb300;
}

.input-field input[type]:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label {
  color: #000000;
}

.input-field input {
  background-color: #ffb300;
}

/* Inactive/Active Default input field color */
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffa600;
  box-shadow: 0 1px 0 0 #ffa600;
}

label.active {
  color: black;
  font-size: 17px;
}

.input-field input {
  &::placeholder {
    color: rgba(34, 34, 34, 0.685);
  }
}

body {
  width: 100%;
  height: auto;
  background-image: url("../assets/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.footer {
  position: fixed;
  clear: both;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.123);
  color: rgba(255, 255, 255, 0.445);
  z-index: -1;
  margin-top: 30px;
}
